.wrapper {
  border: 3px dotted green;

  display: flex;
  flex-wrap: wrap;
}

.left-panel {
  border: 3px dotted blue;

  flex-grow: 1;
}

.right-panel {
  border: 3px dotted cyan;

  flex-grow: 2;
}
